{% extends 'bootstrap.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% block bootstrap3_content %}
{% load tags %}
<link href="{% static 'css/notifier.css' %}" rel="stylesheet">
<nav class="navbar navbar-static-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main_nav">
        <span class="sr-only">Toggle navigation</span>
          <div style="font-size: x-large;"> &#9776; </div>
      </button>
    <a class="navbar-brand" href="/">
        <span class='tip-on-hover'><img src="{% static '/avify.png'%}" style='margin-top: -13px'>
            <span class='tip'></span>
        </span>
        <span style="font-size:30px; font-weight:bold; color: darkblue">AVIFY</span>
    </a>
    </div>
    <div class="navbar-collapse collapse" id='main_nav'>
    {% url 'searches' as searches %}
    {% url 'viewed' as viewed %}
    <ul class="nav navbar-nav">
        <li class={% active request searches %}><a href="{{ searches }}">Search templates</a></li>
        <li class={% active request viewed %}><a href="{{ viewed }}">Viewed items</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
        {% if user.is_authenticated %}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Hello, <strong>{{ user.username }}</strong>!
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="divider"></li>
                {% if request.user.is_staff %}
                    <li><a href="{% url 'admin:index' %}">Admin panel</a></li>
                    <li><a href="{% url 'users' %}">Users</a></li>
                    <li><a href="{% url 'broadcast' %}">Broadcast message</a></li>
                    <li class="divider"></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li class="divider"></li>
            </ul>
        {% else %}
            <a href="{% url 'home' %}">Hello, guest!</a>
        {% endif %}
        </li>
    </ul>
    </div>

        {% bootstrap_messages %}

</nav>
    <div class="container">
        {% block content %}(no content){% endblock %}
    </div>

{% endblock %}
