{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}Категории поиска{% endblock %}

{% block content %}

    <form role="form" class="form-horizontal" method="post">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        {% buttons submit='Добавить' reset='Отмена' layout='horizontal' %}{% endbuttons %}
    </form>
    <table class="table">
        <tr>
            <th>#</th>
            <th>name</th>
            <th>url</th>
        </tr>
        {% for line in lines %}
            <tr>
                <td>{{ line.id }}</td>
                <td>
                    {{ line.name }}
                    <a class="edit_link" href="{% url 'cathegories' %}?delete={{ line.id }}"><span>удалить</span></a>
                </td>
                <td>{{ line.url }}</td>
            </tr>
        {% endfor %}
    </table>

    <hr>

    {% bootstrap_pagination lines url="/cathegories?page=1" size="small" %}

{% endblock %}
