{% extends 'base.html' %}

{% load bootstrap3 %}
{% load tags %}

{% block title %}Search templates{% endblock %}

{% block content %}

    <form role="form" class="form-horizontal" method="post">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        {% buttons submit='Add' reset='Cancel' layout='horizontal' %}{% endbuttons %}
    </form>
    <table class="table">
        <tr>
            <th>#</th>
            <th>cathegory</th>
            <th>region</th>
            <th>keywords</th>
            <th>price min</th>
            <th>price max</th>
            <th>srchbydesc</th>
        </tr>
        {% for line in lines %}
            <tr>
                <td>
                    {{ line.id }}
                    <a class="edit_link" href="{% url 'searches' %}?delete={{ line.id }}"><span>delete</span></a>
                </td>
                <td><a href="{% url 'searches' %}?cathegory={{ line.cathegory }}">{% cath_resolve line.cathegory %}</a></td>
                <td>{% region_resolve line.region %}</td>
                <td>{{ line.keywords }}</td>
                <td>{{ line.price_min }}</td>
                <td>{{ line.price_max }}</td>
                <td>{% if line.search_by_description %}+{% else %}-{% endif %}</td>
            </tr>
        {% endfor %}
    </table>

    <hr>

    {% bootstrap_pagination lines extra="cathegory="|add:cathegory size="small" %}

{% endblock %}
