{% extends 'base.html' %}

{% load bootstrap3 %}

{% block title %}Пользователи{% endblock %}

{% block content %}
    {% if edit_user %}
    <form role="form" class="form-horizontal" method="post">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        {% buttons submit='Submit' layout='horizontal' %}{% endbuttons %}
    </form>
    {% endif %}

    <table class="table">
            <tr>
                <th>#</th>
                <th>name</th>
                <th>actions</th>
            </tr>
        {% for line in lines %}
            <tr>
                <td>{{ line.tgid }}</td>
                <td>{{ line.username }}</td>
                <td>
                    <a class="btn btn-default" href="{% url 'users' %}?edit_user={{ line.id }}">Edit</a>
                    <a class="btn btn-default" href="{% url 'users' %}?login_as_user={{ line.id }}">Login as user</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <hr>

    {% bootstrap_pagination lines url="/users?page=1" extra="q=foo" size="small" %}

{% endblock %}
